* {
  box-sizing: border-box;
  user-select: none;
  user-zoom: none;
}
body {
  margin: 0px;
  background-image: url(../img/menubackground.png);
  background-size: cover;
}
#setting {
  font-size: 35px;
  width: 100%;
  text-align: center;
  display: none;
  color: white;
}
#menuofgame {
  width: 100%;
  text-align: center;
  color: white;
}
.namegame {
  font-size: 30px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 10%;
  margin: 0 auto;
}
.menutabs{
  background-color: rgb(117, 117, 117);
  border: 1.5px solid black;
}
li {
  margin-top: 20px;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  cursor: pointer;
}
a {
  color: white;
  text-decoration: none;
}
.by {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
#game {
  display: none;
}
#buttons {
  display: flex;
  justify-content: space-between;
}
#change {
  max-width: 25px;
  width: 100%;
  max-height: 25px;
  height: 100%;
  text-decoration: none;
  cursor: pointer;
}
#toolbutton {
  display: block;
  width: 100%;
  height: 100%;
}
.multi {
  max-width: 25px;
  width: 100%;
  max-height: 25px;
  height: 100%;
  text-decoration: none;
  cursor: pointer;
}
#toolclose {
  max-width: 25px;
  width: 100%;
  max-height: 25px;
  height: 100%;
  text-decoration: none;
  cursor: pointer;
  display: none;
}
#toolsbutton {
  display: block;
}
#biome {
  display: none;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
#overWorld,
#cave,
#dungeon,
#end {
  cursor: pointer;
  margin-bottom: 15px;
}
#header {
  /*max-height: 400px;  
  height: 100%;*/
  height: 450px;
  text-align: center;
  font-size: 30px;
  /*background-image: url(../img/OverWorld.png);*/
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  color: white;
}
.name {
  text-decoration: underline;
}
#player {
  max-width: 200px;
  max-height: 250px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: none;
}
#enemy {
  display: none;
  margin: 0 auto;
}
#zombie,
#skeleton,
#spider,
#enderman,
#pillager {
  max-width: 250px;
  max-height: 250px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: none;
}
#containerfight {
  display: flex;
  justify-content: space-between;
}
#wood {
  max-width: 250px;
  width: 100%;
  /*width: 250px;*/
  margin: 0 auto;
  display: block;
  cursor: crosshair;
}
#stone,
#coalore,
#ironore,
#diaore {
  max-width: 250px;
  width: 100%;
  /*width: 250px;*/
  margin: 0 auto;
  display: none;
  cursor: crosshair;
}
#attack {
  max-width: 100px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  margin-left: 35%;
  display: none;
  cursor: url(https://cur.cursors-4u.net/sports/spo-1/spo15.cur), auto !important;
}
#startfight {
  max-width: 100px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  margin-left: 35%;
  display: none;
  cursor: pointer;
}
/*#backpackdead{
  max-width: 100px;
  width: 100%;
  margin-left: 15%;
  display: none;
  cursor: pointer;
}*/
#woodgone,
#stonegone,
#coalgone,
#irongone,
#diagone {
  max-width: 100px;
  width: 100%;
  margin-left: 15%;
  display: none;
  cursor: pointer;
}
#backpackdead {
  max-width: 100px;
  width: 100%;
  margin-left: 35%;
  display: none;
  cursor: pointer;
}
#hps {
  max-height: 30px;
  height: 100%;
  max-width: 80px;
  width: 100%;
  margin: 0 auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
  font-size: 25px;
}
#hits {
  text-align: center;
  font-size: 25px;
}
#lomitko {
  text-align: center;
  font-size: 25px;
}
#maxhits {
  text-align: center;
  font-size: 25px;
}
#firstblock {
  height: 70%;
  display: block;
}
#secondblock {
  height: 22%;
  margin: 0 auto;
  text-align: center;
  max-width: 300px;
  width: 100%;
  display: flex;
}
#tables {
  position: absolute;
  top: 0%;
  left: 8%;
  display: flex;
  justify-content: space-between;
  /*max-width: 385px;
  width: 100%;*/
}
#craftingtabletool {
  max-width: 50px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  display: none;
  margin-right: 6px;
}
#furnacetool {
  max-width: 50px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  display: none;
}
#tools {
  /*tohle špatně funguje*/
  position: absolute;
  top: 3%;
  left: 0%;
  /*max-width: 50px;
  width: 100%;*/
  display: flex;
}
#toolswords {
  display: flex;
  flex-direction: column;
}
#woodsword {
  max-width: 50px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  display: none;
}
#stonesword {
  max-width: 50px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  display: none;
}
#ironsword {
  max-width: 50px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  display: none;
}
#diasword {
  max-width: 50px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  display: none;
}
#toolaxes {
  display: flex;
  flex-direction: column;
}
#woodaxe {
  max-width: 50px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  display: none;
}
#stoneaxe {
  max-width: 50px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  display: none;
}
#ironaxe {
  max-width: 50px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  display: none;
}
#diaaxe {
  max-width: 50px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  display: none;
}
#toolpickaxes {
  display: flex;
  flex-direction: column;
}
#woodpickaxe {
  max-width: 50px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  display: none;
}
#stonepickaxe {
  max-width: 50px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  display: none;
}
#ironpickaxe {
  max-width: 50px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  display: none;
}
#diapickaxe {
  max-width: 50px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  display: none;
}
#command {
  font-size: 30px;
  display: none;
}
.names {
  width: 100%;
  display: flex;
  font-size: 25px;
  border-bottom: 1px solid black;
}

/*backpack + Inventář + crafting + playerhp*/
#playerhp {
  max-width: 25px;
  max-height: 25px;
  width: 100%;
  height: 100%;
  display: none;
}
/*enemies hp*/
#enemyhp {
  display: none;
}
#zombiehp,
#skeletonhp,
#spiderhp,
#endermanhp,
#pillagerhp {
  max-width: 25px;
  max-height: 25px;
  width: 100%;
  height: 100%;
  display: none;
}
#enddragon {
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: none;
}
#endphase {
  position: absolute;
  display: none;
  top: 30%;
  left: 40%;
  text-align: center;
}
#bname {
  width: 45%;
  display: flex;
  font-size: 25px;
  /*cursor: pointer;*/
}
#bn {
  cursor: pointer;
  display: flex;
}
.bnmobile {
  display: block;
}
#bclose {
  float: right;
  cursor: pointer;
  margin-right: 15px;
}
#backpack {
  max-height: 25px;
  height: 100%;
  max-width: 25px;
  width: 100%;
}
.backpack {
  display: flex;
  width: 100%;
}
#inventar {
  display: none;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: 100%;
  height: 100%;
}
#cname {
  width: 45%;
  display: flex;
  font-size: 25px;
  /*cursor: pointer;*/
  justify-content: end;
}
#cn {
  cursor: pointer;
  display: flex;
}
.cnmobile {
  display: block;
}
#cclose {
  float: right;
  cursor: pointer;
  margin-right: 15px;
}
#craftingtable {
  max-height: 25px;
  height: 100%;
  max-width: 25px;
  width: 100%;
}
#crafting {
  display: none;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: 100%;
  height: 100%;
}
.row {
  /*display: flex;*/
  float: left;
}
.col {
  float: left;
  /*padding-right: 20px;*/
}

/*Inventář*/
#pickedwood {
  float: left;
  max-width: 40px;
  width: 100%;
  margin-right: 20px;
}
#pickedstone {
  float: left;
  max-width: 40px;
  width: 100%;
  margin-right: 20px;
}
#pickedcoal {
  float: left;
  max-width: 40px;
  width: 100%;
  margin-right: 20px;
}
#pickediron {
  float: left;
  max-width: 40px;
  width: 100%;
  margin-right: 20px;
}
#pickeddia {
  float: left;
  max-width: 40px;
  width: 100%;
  margin-right: 20px;
}
#craftedplank {
  float: left;
  max-width: 40px;
  width: 100%;
  margin-right: 20px;
}
#craftedstick {
  float: left;
  max-width: 40px;
  width: 100%;
  margin-right: 20px;
}
#craftedironingot {
  float: left;
  max-width: 40px;
  width: 100%;
  margin-right: 20px;
}

/*počet věcí v inventáři*/
#wooddest {
  font-size: 25px;
  text-align: center;
  border-right: 3px solid grey;
  border-bottom: 3px solid grey;
}
#stonedest {
  font-size: 25px;
  text-align: center;
  border-right: 3px solid grey;
  border-bottom: 3px solid grey;
}
#coaldest {
  font-size: 25px;
  text-align: center;
  border-right: 3px solid grey;
  border-bottom: 3px solid grey;
}
#irondest {
  font-size: 25px;
  text-align: center;
  border-right: 3px solid grey;
  border-bottom: 3px solid grey;
}
#diadest {
  font-size: 25px;
  text-align: center;
  border-right: 3px solid grey;
  border-bottom: 3px solid grey;
}
#plank {
  font-size: 25px;
  text-align: center;
  border-right: 3px solid grey;
  border-bottom: 3px solid grey;
}
#stick {
  font-size: 25px;
  text-align: center;
  border-right: 3px solid grey;
  border-bottom: 3px solid grey;
}
#ironingot {
  font-size: 25px;
  text-align: center;
  border-right: 3px solid grey;
  border-bottom: 3px solid grey;
}

/*crafting*/
#craftplank {
  float: left;
  max-width: 70px;
  width: 100%;
  border-right: 1px solid black;
  padding: 0px 20px 20px 0px;
  cursor: pointer;
}
#craftstick {
  float: left;
  max-width: 70px;
  width: 100%;
  border-right: 1px solid black;
  padding: 0px 20px 20px 0px;
  cursor: pointer;
}
#craftironingot {
  float: left;
  max-width: 70px;
  width: 100%;
  border-right: 1px solid black;
  padding: 0px 20px 20px 0px;
  cursor: pointer;
}
#craftcraftingtable {
  float: left;
  max-width: 70px;
  width: 100%;
  border-right: 1px solid black;
  padding: 0px 20px 20px 0px;
  cursor: pointer;
}
#craftfurnace {
  float: left;
  max-width: 70px;
  width: 100%;
  border-right: 1px solid black;
  padding: 0px 20px 20px 0px;
  cursor: pointer;
}
/*swords*/
#craftwoodsword {
  float: left;
  max-width: 70px;
  width: 100%;
  border-right: 1px solid black;
  padding: 0px 20px 20px 0px;
  cursor: pointer;
}
#craftstonesword {
  float: left;
  max-width: 70px;
  width: 100%;
  border-right: 1px solid black;
  padding: 0px 20px 20px 0px;
  cursor: pointer;
}
#craftironsword {
  float: left;
  max-width: 70px;
  width: 100%;
  border-right: 1px solid black;
  padding: 0px 20px 20px 0px;
  cursor: pointer;
}
#craftdiasword {
  float: left;
  max-width: 70px;
  width: 100%;
  border-right: 1px solid black;
  padding: 0px 20px 20px 0px;
  cursor: pointer;
}
/*axes*/
#craftwoodaxe {
  float: left;
  max-width: 70px;
  width: 100%;
  border-right: 1px solid black;
  padding: 0px 20px 20px 0px;
  cursor: pointer;
}
#craftstoneaxe {
  float: left;
  max-width: 70px;
  width: 100%;
  border-right: 1px solid black;
  padding: 0px 20px 20px 0px;
  cursor: pointer;
}
#craftironaxe {
  float: left;
  max-width: 70px;
  width: 100%;
  border-right: 1px solid black;
  padding: 0px 20px 20px 0px;
  cursor: pointer;
}
#craftdiaaxe {
  float: left;
  max-width: 70px;
  width: 100%;
  border-right: 1px solid black;
  padding: 0px 20px 20px 0px;
  cursor: pointer;
}
/*pickaxes*/
#craftwoodpickaxe {
  float: left;
  max-width: 70px;
  width: 100%;
  border-right: 1px solid black;
  padding: 0px 20px 20px 0px;
  cursor: pointer;
}
#craftstonepickaxe {
  float: left;
  max-width: 70px;
  width: 100%;
  border-right: 1px solid black;
  padding: 0px 20px 20px 0px;
  cursor: pointer;
}
#craftironpickaxe {
  float: left;
  max-width: 70px;
  width: 100%;
  border-right: 1px solid black;
  padding: 0px 20px 20px 0px;
  cursor: pointer;
}
#craftdiapickaxe {
  float: left;
  max-width: 70px;
  width: 100%;
  border-right: 1px solid black;
  padding: 0px 20px 20px 0px;
  cursor: pointer;
}
@media only screen and (max-width: 2560px) {
  #endphase {
    left: 39.2%;
  }
}
@media only screen and (max-width: 1920px) {
  #endphase {
    left: 41%;
  }
}
@media only screen and (max-width: 1280px) {
  #endphase {
    left: 29%;
  }
}
@media only screen and (max-width: 540px) {
  #endphase {
    left: 0%;
  }
}
@media only screen and (max-width: 540px) {
  #endphase {
    left: 0%;
  }
}
@media only screen and (max-width: 385px) {
  #craftingtabletool {
    margin-right: 200px;
  }
  #tools {
    position: absolute;
    top: 7%;
    left: 0%;
    /*width: 50px;*/
    display: flex;
  }
}
@media only screen and (max-width: 365px) {
  #tools {
    /*tohle špatně funguje*/
    position: absolute;
    top: 7%;
    left: 0%;
    /*width: 50px;*/
    display: flex;
  }
  #woodaxe {
    max-width: 40px;
    max-height: 40px;
  }
  #stoneaxe {
    max-width: 40px;
    max-height: 40px;
  }
  #woodpickaxe {
    max-width: 40px;
    max-height: 40px;
  }
  #stonepickaxe {
    max-width: 40px;
    max-height: 40px;
  }
}
@media only screen and (max-width: 345px) {
  #craftingtabletool {
    margin-right: 175px;
  }
}
